<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace : 해당 XML파일을 어떤 Mapper 인터페이스와 연결할지를 정해주는 속성.
-->
<mapper namespace="com.semi.easycoding.comment.mapper.CommentMapper">

    <insert id="insertComment" parameterType="CommentDto">
        INSERT INTO comment (post_id, parent_id, member_id, content)
            VALUES (#{postId}, #{parentId}, #{memberId}, #{content})
    </insert>

    <select id="existsPublishedPost" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM post
        WHERE post_id = #{postId}
        AND status = 0
        AND deleted_at IS NULL
        )
    </select>

    <select id="selectCommentList" parameterType="Long" resultType="CommentDto">
        SELECT c.comment_id, c.post_id, c.parent_id, c.member_id, m.profile_id, c.content, c.created_at, c.deleted_at,
            DATE_FORMAT(c.created_at, '%Y-%m-%d') AS created_at_str,
            m.nickname
        FROM comment c
            LEFT JOIN member m USING (member_id)
        WHERE c.post_id = #{postId}
<!--            AND c.deleted_at IS NULL-->
        ORDER BY COALESCE(c.parent_id, c.comment_id) DESC,
            c.parent_id IS NOT NULL,
            c.comment_id ASC
    </select>

    <select id="selectCommentById" parameterType="Long" resultType="CommentDto">
        SELECT comment_id, post_id, parent_id
        FROM comment
        WHERE comment_id = #{commentId}
            AND deleted_at IS NULL
    </select>

    <update id="updateComment" parameterType="CommentDto">
        UPDATE comment
        SET content = #{content}
        WHERE comment_id = #{commentId}
            AND member_id = #{memberId}
            AND post_id = #{postId}
            AND deleted_at IS NULL
    </update>

    <update id="deleteComment" parameterType="CommentDto">
        UPDATE comment
        SET deleted_at = NOW()
        WHERE comment_id = #{commentId}
            AND member_id = #{memberId}
            AND post_id = #{postId}
            AND deleted_at IS NULL
    </update>

</mapper>
