<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace : 해당 XML파일을 어떤 Mapper 인터페이스와 연결할지를 정해주는 속성.
-->
<mapper namespace="com.semi.easycoding.member.mapper.MemberMapper">

    <select id="findByMemberId" parameterType="String" resultType="MemberDto">
        <!-- 1. id="findByMemberId"는 MemberDto findByMemberId(String memberId)와 연결
                Mapper 인터페이스의 메서드 이름과 동일해야함.-->
        <!-- 2. parameterType="String"인 이유는 findByMemberId(String memberId)를 받기 때문-->
        <!-- 3. resultType="MemberDto"인 이유는 조회 결과를 MemberDto로 받기 때문 -->

        select member_id, email, nickname,
               date_format(created_at, '%Y.%m.%d') as created_at
        from member
        where member_id = #{memberId}
          and deleted_at is null
    </select>

    <select id="findPasswordByMemberId"
            parameterType="String"
            resultType="String">

        select password
        from member
        where member_id = #{memberId}
          and deleted_at is null
    </select>

    <!-- 조회 결과이기 때문에 resultType을 적어야 한다.-->
    <select id="login" parameterType="MemberDto" resultType="MemberDto">
        select member_id, password
        from member
        where email = #{email}
          and deleted_at is null
    </select>

    <select id="countByEmail" parameterType="String" resultType="int">
        select count(*)
        from member
        where email = #{email}
    </select>

    <select id="countByNickname" parameterType="String" resultType="int">
        select count(*)
        from member
        where nickname = #{nickname}
    </select>

    <!-- 실제로 DB에 회원을 저장하는 SQL -->
    <insert id="join" parameterType="MemberDto">
        insert into member (
        login_id,
        email,
        password,
        nickname
        )
        values (
        #{email},
        #{email},
        #{password},
        #{nickname}
        )
        <!-- 첫번째 email에는 login_id가 두번째에는 email이 저장 -->
        <!-- #{...}는 MemberDto에서 값을 꺼내는 표현 -->
    </insert>

    <!-- 회원이 작성한 게시글 개수 -->
    <select id="countPostByMemberId"
            parameterType="String"
            resultType="int">
        select count(*)
          from post
         where member_id = #{memberId}
           AND deleted_at IS NULL
    </select>

    <!-- 회원이 작성한 댓글 개수 -->
    <select id="countCommentByMemberId"
            parameterType="String"
            resultType="int">
        select count(*)
        from comment
        where member_id = #{memberId}
        AND deleted_at IS NULL
    </select>

    <!-- 회원탈퇴 처리 -->
    <update id="withdraw" parameterType="String">
        UPDATE member
           SET deleted_at = NOW()
         WHERE member_id = #{memberId}
           AND deleted_at IS NULL

        <!-- WHERE member_id = #{memberId} 로그인한 사람만
             원래 NULL이던 deleted_at에 탈퇴 시간을 넣는 것이 소프트 삭제
             소프트 삭제와 그냥 삭제의 차이는 DB에 회원 행을 남겨두는지에 따라 달라진다.-->
    </update>

    <update id="updateNickname">
        UPDATE member
        SET nickname = #{nickname}
        WHERE member_id = #{memberId}
        and deleted_at Is NULL
    </update>

</mapper>
